body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to bottom right, #ffd700, #ffa500);
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  padding-right: 50px;
  padding-top: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="date"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.mandatory {
  color: red;
}

h1 {
  padding-top: 0px;
  font-size: 1.9rem;
  text-decoration: underline;
}
